extends ../layout

block content
    .row#navdata
        .col-sm-6
            h1=title
        .col-sm-6
            a(href="/products/edit/" class="btn btn-success float-right") Delete/Update Product
            a(href="/products/add" class="btn btn-success add") Add New Product
            
    .row   
        each product in products 
            .col-sm-4#data
                img(class="image" src=product.url)
                h6
                    a(href="/products/"+products._id)=product.name
                p="Price: "+product.price
                p="RAM: "+product.ram
                p="Memory: "+product.memory